body
{
   font-size: 25px;
   font-weight: bold;
   background-image: url(linear-gradient-green-purple-1920x1080-c2-00ff7f-7b68ee-a-255-f-14.png);
   font-family: arial;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.login-form form, div.send form
{
	color: #18FFE7;
	margin-top: 35px;
	text-align: center;
	border: 5px;

}
.login-form button, .send button
{
  margin-top: 10px;
  background-color: #A7E413;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 32%;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;
}

  input[type=text], input[type=password] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

div.search-results

{
	background: white;
	width: 32%;
	text-align: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	font-weight: lighter;
	line-height: 1.5;
}

a 
{
    color:#0024C0;
    font-size: 20px;
}

a:hover
{
	color: #A7E413;
}

div.chat
{
    background: white;
    width:31%;
    height: 100px;
    display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	overflow: auto;
	padding: 8px;
	color: #575454;
	font-family: times new roman;
	font-style: italic;
}
.recipient-name
{
	text-align: center;
	color:#18FFE7;
}
footer p

{
	margin-top: 230px;
	text-align: center;
	font-size: 20px;
	color: #0024C0;
	font-family: Arial;
	letter-spacing: 2px;
}

.chat-outgoing
{
	text-align: right;
}

.search-form button
{
  height: 56px;
  margin-left: 5px;
  background-color: #A7E413;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;
}

.search-form input[type=text]
{
  width: 20%;
  height: 35px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background: #f1f1f1;
}

.search-form form
{
	
	color: #18FFE7;
	text-align: center;
	border: 5px;
}