body {
    background: linear-gradient(to bottom, #796aed, #00ff7f);
    height: 100vh;
    font-family: arial;
    overflow: hidden;
    margin: 0;
    color: #0024C0;
    font-weight: bolder;
}

.main-navigation a:hover {
    background-color: #00ff7f;
}

.main-navigation {
    width: auto;
    display: flex;
    justify-content: start;
    margin-right: auto;
    margin-left: auto;
    margin-left: 25vw;
    height: 60px;
}

.logo {
    margin-bottom: 10px;
    margin-top: 200px;
    margin-left: 50px;
}

.base-form {
    display: flex;
    width: 700px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    color: #00FFF0;
    font-weight: bold;
    font-size: 130%;
    font-family: arial;
}

label {
    margin-top: 10px;
    padding-bottom: 6px;
    margin-right: auto;
    margin-left: auto;
}

.base-form-button {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background: #A7E413;
    color: #0024C0;
    opacity: 80%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-text-input {
    width: 300px;
    height: 30px;
    background: #E3E3E3;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

.search-form {
    display: flex;
    margin-top: 200px;
    color: #00FFF0;
    font-weight: bold;
    font-size: 20px;
    font-family: arial;
}

.search-results {
    overflow: auto;
    height: 200px;
    width: 620px;
    margin-top: 30px;
    border: solid #148D95;
    display: flex;
    font-size: 20px;
    margin-left: 80px;
    background: #A7E413;
    opacity: 90%;
    overflow-x: hidden;
}

.search-results a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.chat {
    background: rgb(255, 255, 255, 0.5);
    width: 550px;
    height: 150px;
    font-size: 17px;
    overflow: auto;
    padding: 20px;
    color: #575454;
    font-weight: bolder;
    border: solid #148D95;
    margin-bottom: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    flex-direction: column;
    font-weight: 600;
}

.recipient-name {
    text-align: center;
    color: #18FFE7;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    margin-top: 220px;
}

.outgoing-message {
    text-align: right;
    margin-left: 62px;
    margin-top: 40px;
    background: rgb(167, 228, 19, 0.5);
    border-radius: 10px;
    padding-right: 10px;


}
.incoming-message {
    background: rgb(24, 255, 231, 0.5);
    border-radius: 10px;
    padding-left: 10px;
}

.search-form input {
    margin-top: 21px;
    height: 34px;
    margin-right: 20px;
    font-size: 20px;
}

.search-form label {
    margin-top: 32px;
    padding-right: 20px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #A7E413;
    opacity: 90%;
}

.container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    background-color: #2DFAD6;
    color: #0024C0;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.main-footer {

    background-color: #A7E413;
    opacity: 90%;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    display: flex;
    justify-content: center;

}

li {
    list-style: none;
}

.search-results a:hover {
    background: #00ff7f;
}

.search-results a {
    display: block;
    height: 50px;
    background: #A7E413;
    width: 598px;
    height: 30%;
    padding-top: 5px;
    padding-left: 15px;

}

ul {
    padding: 0;
    margin: 0;
}

.about-us{
 margin-top: 200px;
 font-weight: 600;
 font-size: 15px;
 line-height: 22px;
 background: rgb(167, 228, 19, 0.5);
 padding: 30px;
}
 h1{
    color: #18FFE7;
 }